body {
  font-family: 'Montserrat-Black', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* #fff - White
    #000  - Black*/
/* .Title-Download-Section{} */

.container-fluid {
  padding: 3% 15%;
  /* padding: 3% 15% 10% 15%; */
}

/* ----------Copied from Udemy QA ---------- */
/* To prevent blue colorText  */

a:link, a:visited {
color: #fff;
}
a:hover{
color: blue;
}
/*------------------------  */

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.4rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 2.5rem;
font-weight: 900;
line-height: 1.5;
margin-bottom: 5%;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.5rem;
  /* text-align: center; */
}

p {
  color: #8f8f8f;
  margin: 0 55px 0 55px;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light'
}

.download-button {
  margin: 5% 3% 5% 0;
}


.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* -20deg will rotate to the left */
}

/* .img-fluid {
  max-width: auto;
  height: auto;
}
 .rotated {
  background-color: transparent;
  transform: rotate(30deg);
} */
/* --------FEATURES----------------------- */
.feature-box {
  font-size: 4rem;
  color: #ef8172;
  text-align: center;
}

.feature-box:hover {
  color: #ff4c68;
}

/* ------------ Testimonials-------------- */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonial-image{
width: 15%;
border-radius: 100%;
padding: 10px;
}

.carousel-item{
padding: 7% 15%;
/* shifted padding from #testimonials
to get buttons out*/
}
/* --------- Press-------- > */
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}

.press-logo{
width: 15%;
margin: 20px 20px 50px 20px;
}

/* ---------------  Pricing --------------- */


.sign-up-button
/* width: 100000rem; */




/*  */
